<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% if post.id == 3%}
            {{ post.subtitle }}
        {% else %}
            JMAT|Blog
        {% endif %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
<!--    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>-->
<!--    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
{% if post.id == 0 %}
    <div class="wrapper">
        <div class="top">
            <div class="title"><h1>☕</h1></div>
        </div>
        <div class="content">
            <div class="card">
                    <h1> {{ post.title }}</h1>
                    <h2> {{ post.subtitle }}</h2>
                    <p>
                        {{ post.body }}
                        {% include 'about.html' %}
                     </p>
            </div>
            <ul class="icons">
                <li><a href={{url_for('get_all_posts')}} class="icon solid fa-arrow-alt-circle-left"></a></li>
                <li><a href={{url_for('get_all_posts')}} class="icon solid fa-arrow-alt-circle-right"></a></li>
            </ul>
        </div>
    </div>
{% elif post.id == 1%}
    <div class="wrapper">
        <div class="top">
            <div class="title"><h1>📁</h1></div>
        </div>
        <div class="content">
            <div class="card_LR">
                <h2>Selecciona un archivo CSV</h2>
                <form method="POST" action="{{url_for('save')}}" enctype="multipart/form-data">
                    <p><input type="file" name="file" required="required"></p>
                    <p><input type="submit" value="Guardar" class="btn btn-primary btn-block btn-large"></p>
                </form>
            </div>
            <ul class="icons">
                <li><a href={{url_for('get_all_posts')}} class="icon solid fa-arrow-alt-circle-left"></a></li>
                <li><a href={{url_for('get_all_posts')}} class="icon solid fa-arrow-alt-circle-right"></a></li>
            </ul>
        </div>
    </div>

{% elif post.id == 3%}
    <div class="wrapper">
        <div class="top">
            <div class="title"><h1> {{ post.title }}</h1> </div>
        </div>

        <div class="robots">
            {% block robot %}
            {% endblock %}
        </div>

        <ul class="icons">
            <li><a href={{url_for('get_all_posts')}} class="icon solid fa-arrow-alt-circle-left"></a></li>
            <li><a href={{url_for('get_all_posts')}} class="icon solid fa-arrow-alt-circle-right"></a></li>
        </ul>

    </div>
{% else %}
    <div class="wrapper">
        <div class="top">
            <div class="title"><h1>☕</h1></div>
        </div>
        <div class="content">
            <div class="card">
                    <h1> {{ post.title }}</h1>
                    <h2> {{ post.subtitle }}</h2>
                    <p>{{ post.body }}</p>
            </div>
            <ul class="icons">
                <li><a href={{url_for('get_all_posts')}} class="icon solid fa-arrow-alt-circle-left"></a></li>
                <li><a href={{url_for('get_all_posts')}} class="icon solid fa-arrow-alt-circle-right"></a></li>
            </ul>
        </div>
    </div>
{% endif %}
</body>

<footer>
    <p>Hecho en México.</p>
</footer>
</html>